<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ meta.title }}</title>
    {% include 'favicon.html' %}
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/css/style.css" />
    {% block css %} {% endblock %}
    <script src="/js/alpine.js"></script>
    <script>
      function smScreen() {
        return window.matchMedia("(min-width: 640px)").matches;
      }
    </script>
  </head>
  <body
    class="bg-gray-900 text-gray-300 flex flex-col"
    :class="{ 'no-scroll': menu === true && !sm }"
    x-data="{ menu: false, sm: smScreen() }"
    x-on:resize.window.passive="sm = smScreen()"
  >
    <div class="min-h-screen pb-16">
      <header class="mx-auto max-w-screen-md w-full">
        {% include 'header.html' %}
      </header>
      <main class="pt-12 mx-auto max-w-screen-md w-full px-4">
        {% block content %} {% endblock %}
      </main>
    </div>
    <footer class="mx-auto max-w-screen-md px-4 w-full">
      {% include 'footer.njk' %}
    </footer>
  </body>
</html>
