{% extends "_layout.njk" %} {% block css %}
<link rel="stylesheet" href="/css/blog-style.css" />
<link rel="stylesheet" href="/css/syntax-highlighting.css" />
{% endblock %} {% block content %}

<article class="blog-article">
  <small class="block mb-3 text-xxs text-gray-300 text-opacity-30"
    >{{ date | date('dd.MM.yyyy') }} | {{ content | readingTime }}</small
  >
  <h1>{{ pageTitle }}</h1>
  {{ content | safe }}
</article>

{% endblock %}
