@tailwind base;
@tailwind components;

@layer base {
  html {
    font-size: 22px;
  }

  body {
    font-family: Futura, apple-system, Roboto, sans-serif;
  }

  h1 {
    @apply text-pink-600;
    @apply text-3xl;
    @apply mb-4;
  }

  [x-cloak] {
    display: none;
  }
}

@layer components {
  @supports (backdrop-filter: none) {
    .blurry-background {
      backdrop-filter: blur(15px);
    }
  }

  @supports (not (backdrop-filter: none)) {
    .blurry-background {
      @apply bg-gray-900;
      @apply bg-opacity-90 !important;
    }
  }
}

@tailwind utilities;

@layer utilities {
  .no-scroll {
    overflow: hidden;
  }
}
